<a href="https://colab.research.google.com/github/GregoDs/DSassignments.all/blob/main/SQL_Data_Analysis_Population_by_Type_of_Disability_assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL Data Analysis: Population by Type of Disability

In [10]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

In [11]:
import pandas as pd

In [13]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
with open('/content/Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv','r') as f:
    Population = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS Population;
%sql PERSIST Population;
%sql SELECT * FROM Population LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Baringo', '10.9%', '2.8%', '30.9%', '2.6%', '1%', '3.8%', '12.4%', '54.2%', '10.9%', 6512.1, '(0.512912, 35.952537)', 0),
 ('Bomet', '0%', '0%', '29.2%', '10%', '8.1%', '8.1%', '14.2%', '0.3%', '38.7%', 6538.0, '(-0.690131, 35.278005)', 1),
 ('Bungoma', '12.3%', '0%', '49.2%', '0%', '2.3%', '20.8%', '12.7%', '0%', '21.9%', 13170.6, '(0.737046, 34.672536)', 2),
 ('Busia', '0%', '0%', '14.3%', '12.3%', '4.6%', '35.5%', '4.8%', '14.8%', '31.4%', 6655.5, '(0.428414, 34.210571)', 3),
 ('Elgeyo Marakwet', '0%', '0%', '31.7%', '0%', '35.7%', '0%', '20%', '12.6%', '7.4%', 3599.9, '(0.806011, 35.564093)', 4)]

In [5]:
# Let's preview the first 10 rows of our data
%sql SELECT * FROM population LIMIT 10;

 * sqlite://
Done.

[('Baringo', '10.9%', '2.8%', '30.9%', '2.6%', '1%', '3.8%', '12.4%', '54.2%', '10.9%', 6512.1, '(0.512912, 35.952537)', 0),
 ('Bomet', '0%', '0%', '29.2%', '10%', '8.1%', '8.1%', '14.2%', '0.3%', '38.7%', 6538.0, '(-0.690131, 35.278005)', 1),
 ('Bungoma', '12.3%', '0%', '49.2%', '0%', '2.3%', '20.8%', '12.7%', '0%', '21.9%', 13170.6, '(0.737046, 34.672536)', 2),
 ('Busia', '0%', '0%', '14.3%', '12.3%', '4.6%', '35.5%', '4.8%', '14.8%', '31.4%', 6655.5, '(0.428414, 34.210571)', 3),
 ('Elgeyo Marakwet', '0%', '0%', '31.7%', '0%', '35.7%', '0%', '20%', '12.6%', '7.4%', 3599.9, '(0.806011, 35.564093)', 4),
 ('Embu', '0%', '0%', '55.1%', '0%', '0%', '3%', '3%', '2.5%', '41.8%', 6287.4, '(-0.5982, 37.653906)', 5),
 ('Garissa', '0%', '37.1%', '0%', '0%', '0%', '0%', '11.3%', '11.3%', '51.6%', 1864.1, '(-0.564679, 40.408457)', 6),
 ('Homa Bay', '2.1%', '0%', '20.9%', '6.7%', '6.3%', '5.2%', '11.3%', '9%', '48.3%', 23696.8, '(-0.640985, 34.411083)', 7),
 ('Isiolo', '13.9%', '3.3%', '32.6%', '38.6%', '12.9%', '0%', '0%', '2%', '19.8%', 2154.4, '(0.949302, 38.614718)', 8),
 ('Kajiado', '0%', '0%', '26.9%', '19%', '0%', '0%', '27.6%', '0%', '45.5%', 3250.3, '(-2.221971, 36.980268)', 9)]

In [10]:
# Getting to know more about the dataset by accessing its information
%sql SELECT * FROM population LIMIT 10;

 * sqlite://
Done.

[('Baringo', '10.9%', '2.8%', '30.9%', '2.6%', '1%', '3.8%', '12.4%', '54.2%', '10.9%', 6512.1, '(0.512912, 35.952537)', 0),
 ('Bomet', '0%', '0%', '29.2%', '10%', '8.1%', '8.1%', '14.2%', '0.3%', '38.7%', 6538.0, '(-0.690131, 35.278005)', 1),
 ('Bungoma', '12.3%', '0%', '49.2%', '0%', '2.3%', '20.8%', '12.7%', '0%', '21.9%', 13170.6, '(0.737046, 34.672536)', 2),
 ('Busia', '0%', '0%', '14.3%', '12.3%', '4.6%', '35.5%', '4.8%', '14.8%', '31.4%', 6655.5, '(0.428414, 34.210571)', 3),
 ('Elgeyo Marakwet', '0%', '0%', '31.7%', '0%', '35.7%', '0%', '20%', '12.6%', '7.4%', 3599.9, '(0.806011, 35.564093)', 4),
 ('Embu', '0%', '0%', '55.1%', '0%', '0%', '3%', '3%', '2.5%', '41.8%', 6287.4, '(-0.5982, 37.653906)', 5),
 ('Garissa', '0%', '37.1%', '0%', '0%', '0%', '0%', '11.3%', '11.3%', '51.6%', 1864.1, '(-0.564679, 40.408457)', 6),
 ('Homa Bay', '2.1%', '0%', '20.9%', '6.7%', '6.3%', '5.2%', '11.3%', '9%', '48.3%', 23696.8, '(-0.640985, 34.411083)', 7),
 ('Isiolo', '13.9%', '3.3%', '32.6%', '38.6%', '12.9%', '0%', '0%', '2%', '19.8%', 2154.4, '(0.949302, 38.614718)', 8),
 ('Kajiado', '0%', '0%', '26.9%', '19%', '0%', '0%', '27.6%', '0%', '45.5%', 3250.3, '(-2.221971, 36.980268)', 9)]

In [17]:
# Challenge 1
# Which county had the highest no. of registered deaf persons?
# 
%sql SELECT county, MAX(Deaf) AS max_Deaf FROM Population;

 * sqlite://
Done.

[('Nandi', '9.1%')]

In [20]:
# Challenge 2
# Which county had the highest no. of registered persons with a missing hand?
#
%sql SELECT County, MAX(Missing_Hand) AS max_hand FROM population;

 * sqlite://
Done.

[('Kisumu', '7.6%')]

In [ ]:
# Challenge 3
# Which county had the highest no. of registered persons with a missing foot?
#

In [19]:
%sql SELECT County, MAX(Missing_Foot) AS max_foot FROM population;

 * sqlite://
Done.

[('Marsabit', '9.7%')]

In [ ]:
# Challenge 4
# Which county had the highest no. of registered lame persons?
#

In [21]:
%sql SELECT County, MAX(Lame) AS max_lame FROM population;

 * sqlite://
Done.

[('Mombasa', '9.3%')]

In [22]:
# Challenge 5
# Which county had the lowest no. of registered blind persons?
# 
%sql SELECT County, Min(Blind)  FROM population;

 * sqlite://
Done.

[('Bungoma', '0%')]

In [26]:
# Challenge 6
# Which county had the highest third no. of registered deaf persons?
# 
%sql SELECT County, Max(Deaf)  FROM population Group by Deaf order by Deaf Desc ;

 * sqlite://
Done.

[('Nandi', '9.1%'),
 ('Bomet', '8.1%'),
 ('Wajir', '8%'),
 ('Turkana', '7.8%'),
 ('Homa Bay', '6.3%'),
 ('Nyamira', '50.2%'),
 ('Kenya average', '5.9%'),
 ('Makueni', '4.7%'),
 ('Busia', '4.6%'),
 ('Migori', '4%'),
 ('Elgeyo Marakwet', '35.7%'),
 ('Tharaka Nithi', '29.3%'),
 ('Nyandarua', '27.9%'),
 ('Mandera', '25.9%'),
 ('Nyeri', '25.1%'),
 ('Bungoma', '2.3%'),
 ('Marsabit', '18.8%'),
 ('Nairobi', '17.5%'),
 ("Murang'a", '17.2%'),
 ('Tana River', '16.2%'),
 ('Kilifi', '13.8%'),
 ('Isiolo', '12.9%'),
 ('Vihiga', '12.7%'),
 ('Narok', '12.2%'),
 ('Samburu', '10.3%'),
 ('Kisii', '10.2%'),
 ('Baringo', '1%'),
 ('Kakamega', '0.5%'),
 ('Embu', '0%')]

In [29]:
# Challenge 7
# In descending order, which top 5 counties had the highest no. of registered dumb persons?
# 
%sql SELECT County, Max(Dumb)  FROM population Group by Dumb order by Dumb DESC limit 5;

 * sqlite://
Done.

[('Nyeri', '9.8%'),
 ('Marsabit', '9.6%'),
 ('Makueni', '9.2%'),
 ('Kenya average', '9%'),
 ('Nakuru', '8.4%')]

In [30]:
# Challenge 8
# In ascending order, which top 5 counties had the highest no. of registered persons with a mental disability? 
# 
%sql SELECT County, Max(Mental)  FROM population Group by Mental order by Mental asc limit 5;

 * sqlite://
Done.

[('Isiolo', '0%'),
 ('Garissa', '11.3%'),
 ('Marsabit', '11.6%'),
 ('Meru', '12.3%'),
 ('Baringo', '12.4%')]

In [14]:
# Challenge 9
# Which counties had no registerd blind persons nor deaf persons?
# 
%sql SELECT County From Population where Blind = "0%" and Deaf = "0%";

 * sqlite://
Done.

[('Embu',),
 ('Garissa',),
 ('Kirinyaga',),
 ('Kisumu',),
 ('Laikipia',),
 ('Lamu',),
 ('Machakos',),
 ('Meru',),
 ('Nakuru',),
 ('Taita Taveta',),
 ('Uasin Gishu',)]

In [44]:
# Challenge 10
# Which disability was the most registered across all the counties?
# 
%sql insert into Population (Missing_Hand,	Missing_Foot,	Lame,	Blind,	Deaf,	Dumb,	Mental,	Paralyzed,	Other) VALUES (sum(Missing_Hand),sum(Missing_Foot),sum(Lame),sum(Blind),sum(Deaf)sum(Dumb),sum(Mental),sum(Paralyzed),sum(Other));

 * sqlite://
(sqlite3.OperationalError) near "sum": syntax error
[SQL: insert into Population (Missing_Hand,	Missing_Foot,	Lame,	Blind,	Deaf,	Dumb,	Mental,	Paralyzed,	Other) VALUES (sum(Missing_Hand),sum(Missing_Foot),sum(Lame),sum(Blind),sum(Deaf)sum(Dumb),sum(Mental),sum(Paralyzed),sum(Other));]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
# Challenge 11
# Which disability was the least registered across all the counties?
#

In [24]:
# Challenge 12
# What was the average no. of registered persons with a disability?
#
%sql SELECT AVG(Total_Count) From Population;

 * sqlite://
Done.

[(16774.087499999998,)]

In [ ]:
# Challenge 13
# Which three counties had least registered persons with disabilities?
#

In [35]:
%sql SELECT County,min(Total_Count) FROM Population group by Total_Count order by Total_Count asc limit 3;

 * sqlite://
Done.

[('Tharaka Nithi', 420.1), ('Lamu', 524.9), ('Turkana', 1733.1)]

In [36]:
# Challenge 14
# What was the total no of registered persons with a disability across all counties?
#
%sql Select sum(Total_Count) as TOTAL From Population ;

 * sqlite://
Done.

[(805156.1999999998,)]

In [ ]:
# Challenge 15 
# Which top 3 counties has the highest no. of registered persons with a disability?
#

In [39]:
 %%sql 
 SELECT County From Population group by Total_Count ORDER BY Total_Count DESC LIMIT 3;

 * sqlite://
Done.

[('Kenya average',), ('Kakamega',), ('Homa Bay',)]