<a href="https://colab.research.google.com/github/GregoDs/DSassignment.ecommerce/blob/main/SQLUganda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql

In [4]:
%sql sqlite://

'Connected: @None'

In [ ]:
#display a list of Sub Counties and their population and areas.

In [5]:
import csv
import pandas as pd

In [11]:
with open('/content/Uganda_Karamoja_Subcounty_Crop_Yield_Population (2).csv','r') as Uganda:
  Counties= pd.read_csv(Uganda,encoding='utf-8')
%sql DROP TABLE IF EXISTS Counties;
%sql PERSIST Counties;

 * sqlite://
Done.
 * sqlite://

'Persisted counties'

In [16]:
%%sql 
Select * from Counties limit 10

 * sqlite://
Done.

[(0, 263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.2074107, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (1, 264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.8905232, 1162.996687, 13587.99076, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (2, 265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.531855, 1520.322052, 8.561643817, 561476.4874, 9991.488268),
 (3, 266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334, 6761.488901, 45.72171184, 1915695.928, 38971.65908),
 (4, 267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.19813, 172.6119139, 3779939.224, 221609.5114),
 (5, 268, 'RENGEN', 'KOTIDO', 41273, 652744859, 'Y', 271.1858431, 1047.180128, 13278.52043, 12964.49973, 171.5857036, 3515788.789, 179681.139),
 (6, 591, 'KAABONG  EAST', 'KAABONG', 42221, 60801942, 'Y', 160.5885252, 650.1235648, 1021.31699, 1004.647534, 15.66040911, 161334.8658, 10181.201),
 (7, 592, 'KAABONG TOWN COUNCIL', 'KAABONG', 38857, 13071455, 'Y', 212.210703, 1229.213444, 175.0805266, 156.5038884, 18.52618562, 33211.80017, 22772.63643),
 (8, 593, 'KAABONG WEST', 'KAABONG', 41454, 67612362, 'Y', 208.0405184, 1056.416068, 967.3367266, 910.2541223, 56.27535518, 189369.7394, 59450.18942),
 (9, 594, 'KALAPATA', 'KAABONG', 99203, 223116860, 'Y', 209.8093519, 633.4231821, 2834.349905, 2501.368282, 331.2257949, 524810.4582, 209806.097)]

In [15]:
%%sql 
Select POP,SUBCOUNTY_NAME,Area from Counties

 * sqlite://
Done.

[(17244, 'KACHERI', 1067176155),
 (52771, 'KOTIDO', 597575188),
 (27389, 'KOTIDO TOWN COUNCIL', 23972401),
 (38775, 'NAKAPERIMORU', 419111591),
 (65704, 'PANYANGARA', 880955930),
 (41273, 'RENGEN', 652744859),
 (42221, 'KAABONG  EAST', 60801942),
 (38857, 'KAABONG TOWN COUNCIL', 13071455),
 (41454, 'KAABONG WEST', 67612362),
 (99203, 'KALAPATA', 223116860)]

In [18]:
#Sort the list of districts by total crop area (descending order).

%%sql
Select DISTRICT_NAME FROM Counties order by Crop_Area_Ha	DESC;

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAPAK',),
 ('KAABONG',),
 ('KAABONG',),
 ('AMUDAT',),
 ('MOROTO',),
 ('KAABONG',),
 ('MOROTO',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAPAK',),
 ('KOTIDO',),
 ('AMUDAT',),
 ('AMUDAT',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('NAPAK',),
 ('KAABONG',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('ABIM',),
 ('NAPAK',),
 ('ABIM',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('MOROTO',),
 ('AMUDAT',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('MOROTO',)]

In [20]:
#Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.

%%sql
Select SUBCOUNTY_NAME,S_Yield_Ha from Counties where DISTRICT_NAME = "MOROTO" order by S_Yield_Ha;

 * sqlite://
Done.

[('RUPA', 114.2709211),
 ('SOUTHERN DIVISION', 114.7955689),
 ('NORTHERN DIVISION', 131.9776979),
 ('NADUNGET', 133.6679356),
 ('TAPAC', 155.8699345),
 ('KATIKEKILE', 311.0062152)]

In [26]:
#Compute the total Maize production per District.


%%sql
select DISTRICT_NAME, SUM(M_Prod_Tot) from Counties Group by DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 1922133.1297),
 ('AMUDAT', 3546469.3324990002),
 ('KAABONG', 6990361.6143000005),
 ('KOTIDO', 2010179.0731479998),
 ('MOROTO', 422116.06882464996),
 ('NAKAPIRIPIRIT', 8125156.24546),
 ('NAPAK', 5587379.38888)]

In [28]:
#Compute the number of Sub counties where Maize is produced and
#the total Maize production per District.


%%sql
SELECT DISTRICT_NAME,COUNT(SUBCOUNTY_NAME),SUM(M_Prod_Tot) FROM Counties group by DISTRICT_NAME ;

 * sqlite://
Done.

[('ABIM', 6, 1922133.1297),
 ('AMUDAT', 4, 3546469.3324990002),
 ('KAABONG', 14, 6990361.6143000005),
 ('KOTIDO', 6, 2010179.0731479998),
 ('MOROTO', 6, 422116.06882464996),
 ('NAKAPIRIPIRIT', 8, 8125156.24546),
 ('NAPAK', 8, 5587379.38888)]

In [29]:
#Compute the overall Crop area in all Sub counties where population is over 20000.


%%sql

SELECT SUM(Crop_Area_Ha),SUBCOUNTY_NAME FROM Counties Where POP >20000;

 * sqlite://
Done.

[(120212.89015529997, 'RUPA')]

In [25]:
#Sort the Maize production in descending order by Districts, only taking #
#into account Sub counties where Maize area is larger than Sorghumarea, and display the number of Sub counties per district matching
#that criteria.


%%sql
SELECT DISTRICT_NAME,COUNT(SUBCOUNTY_NAME),SUM(M_Prod_Tot) FROM Counties WHERE M_Area_Ha > S_Area_Ha GROUP BY DISTRICT_NAME ORDER BY SUM(M_Prod_Tot) DESC;

 * sqlite://
Done.

[('NAKAPIRIPIRIT', 3, 5598605.98276),
 ('NAPAK', 2, 3645843.6206),
 ('KAABONG', 3, 2318728.7395),
 ('AMUDAT', 1, 1340672.952),
 ('MOROTO', 3, 224589.26731465)]